* {
  background: #777;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px
}

body {
  height: 150px;

}

header {
  color: black;
  background: #ebebeb;
  width: 960px;
  padding: 50px;
  margin: 10px;
}
#nav {
  color: black;
  background: #ebebeb;
  width: 960px;
  padding: 50px;
  margin: 10px;
}
#section {
  color: black;
  background: #ebebeb;
  height: 200px;
  width: 495px;
  border:25px;
  padding: 25px;
  margin: 25px;
  float: left;
}

#BigBox {
  clear: both;
  overflow: auto;
  background: #777
  padding: 25px;
  background: #ebebeb;

}

#headings {
  height: 50px
  /*padding: 50px;*/
}

#paragraph {
  height: 50px
}

#aside {
  color: black;
  background: #ebebeb;
  height: 200px;
  width: 465px;
  border:25px;
  padding: 25px;
  margin: 25px;
  float: left;
}
footer {
  clear: both;
  overflow: auto;
  color: black;
  background: #ebebeb;
  width: 960px;
  padding: 50px;
  margin: 50px;
}