* {
  
  background: #777;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px
}

body {
}

header {
	color:purple;
  margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px;
  margin-bottom: 30px;
  float: center;
  width: 960px;
}

#section {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px;
  	background: magenta;
  	float: center;
  	width: 960px;
}

#nav {

	align-content: left
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px;
  	background: blue;
  	float: center;
  	width: 960px;
}


#article {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px;
  	background: red;
  	float: left;
  	width: 960px;
}

#headings {
}

#paragraph {
}

#BigBox {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px;
  	background: orange;
  	color: #333;
  	float: right;
  	width: 960px;

}

footer {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px
  	margin-right: 30px
  	background: #ebebeb;
  	color: #333;
  	float: center;
  	width: 960px;
  
}
